* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue";
}

body {
  overflow-x: hidden;
  background-color: #f5ded1;
}

.section-first {
  width: 100vw;
  height: 100%;
  background-color: #1c1c2b;
  color: white;
  font-family: Epilogue;
  overflow: hidden;
}

.logo {
  width: 152px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
  gap: 12px;
}

.pentagonImage {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pentagon {
  width: 20px;
  height: 20px;
  background-color: #ef6d58;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  margin: 50px auto;
  position: absolute;
  top: -36px;
  left: 10px;
}

ul {
  list-style-type: none;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  margin-top: 28px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 515px;
  height: 32px;
}

.contentButton {
  width: 138px;
  height: 48px;
  background-color: #1c1c2b;
  border: 1px solid gainsboro;
  color: gray;
  border-radius: 8px;
  color: white;
  font-weight: 800;
  font-size: large;
}

/* *******************Nav Bar End ******************888 */

.main-content {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
  flex-wrap: wrap-reverse;
}

.contentContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.howtoworkbutton {
  width: 154px;
  height: 48px;
  color: white;
  font-weight: 700;
  background-color: #ef6d58;
  padding: 10px;
  border-radius: 6px;
  transition: transform 0.5s ease;
  border: none;
}

.contact-topone {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #ffffff;
}

.howtoworkbutton:hover,
.about-btn:hover,
.getStartbtn:hover,
.contusone:hover,
.submitbtncnt:hover {
  scale: 1.1;
  cursor: pointer;
}
/* *******************Left Side******************* */
.leftSide {
  position: relative;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.star-icon {
  width: 148px;
  height: 148px;
  position: absolute;
  top: -20px;
  left: 220px;
  z-index: 10px;
}

.modern {
  color: #ef6d58;
  text-transform: uppercase;
}

.para1 {
  width: 513px;
  height: 240px;
  font-size: 60px;
  font-weight: 700;
  z-index: 45px;
  word-wrap: wrap;
  position: relative;
  z-index: 10;
}

.paragraph-content {
  width: 470px;
  height: 66px;
  word-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 64%;
}

.man-and-content {
  display: flex;
  align-items: center;
  gap: 20px;
  color: gray;
  margin-top: 80px;
}

.putone {
  width: 327px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 65%;
}

.man-and-content-image {
  background-color: #b550f6;
  border-radius: 50%;
}

/* ******************* right Side *********************** */
.rightSide {
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 601.93px;
  position: relative;
  margin-top: 20px;
}

.labtopbackground {
  width: 246px;
  height: 306px;
  background-color: #b550f8;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.laptopImage {
  width: 255px;
  height: 256px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.path-circle {
  width: 112px;
  height: 82px;
  color: #8082a5;
  position: absolute;
  right: 10px;
  top: 55px;
}

.bg-black-circle {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background-color: #32334c;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
}

.bg-orange-circle {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #ef6d58;
  position: absolute;
  top: 36px;
  right: 150px;
  z-index: 10;
}

.three-star-container {
  display: flex;
  position: relative;
  left: 35px;
  top: 30px;
  width: 42px;
  height: 56px;
}

.bg-yellow-circle {
  width: 246px;
  height: 305px;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #f7cc47;
  position: absolute;
  right: 0;
  bottom: 150px;
  z-index: 10;
}

.curved-arrow {
  position: relative;
}

.combined-single-arrow {
  position: absolute;
  top: 200px;
  right: 234px;
  transform: rotate(-0deg);
}

.combiner-arrow {
  position: absolute;
  top: 40px;
  right: 500px;
  width: 142px;
  height: 73px;
  z-index: 100;
}

.girlImage {
  position: absolute;
  bottom: 0;
}

.white-rectangle {
  width: 214px;
  height: 112px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 10px;
  position: absolute;
  left: 40px;
  bottom: 100px;
  z-index: 10;
  border-radius: 5px;
}

.orange-small-circle {
  width: 45px;
  height: 45px;
  background-color: #ef6d58;
  border-radius: 50%;
  position: relative;
  top: -12px;
}

.gray-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gray-line {
  background-color: #dfe0e9;
}

.line1 {
  width: 94px;
  height: 14px;
  border-radius: 2px;
}
.line2 {
  width: 78px;
  height: 6px;
  border-radius: 3px;
}
.line3 {
  width: 94px;
  height: 6px;
  border-radius: 3px;
}
.line4 {
  width: 62px;
  height: 6px;
  border-radius: 3px;
}

.design-area-content {
  width: 100vw;
  height: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.design-image-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 50px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}

/* For tablets and above - show 4 in a row */
@media (min-width: 768px) {
  .design-image-container {
    grid-template-columns: repeat(5, 1fr);
    width: 90vw;
  }
}

.hr {
  width: 88%;
  height: 2px;
  background-color: #f3d1bf;
  align-self: center;
}

/* ******************************** */

.main-content-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.left-main-container {
  width: 566px;
  height: 585px;
  position: relative;
}

.bg-pink-container {
  width: 384px;
  height: 319px;
  background-color: #f9e5da;
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 1;
}

.img-combined-shape-3 {
  position: absolute;
  top: -15px;
  right: 65px;
  z-index: 15;
}

.image-com-path-2 {
  z-index: 8;
  position: absolute;
  top: 30px;
  left: 5px;
}

.chairImage {
  width: 470px;
  height: 319px;
  position: absolute;
  top: 120px;
  left: 50px;
  z-index: 10;
}

.rectangle-card {
  background-color: #ffffff;
  position: absolute;
  right: 100px;
  top: 30px;
  width: 216px;
  height: 68px;
  z-index: 30;
  border-radius: 4px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.circle {
  border-radius: 50%;
}

.red {
  width: 35px;
  height: 35px;
  background-color: #ef6d58;
  margin-left: 10px;
}
.brangle {
  width: 40px;
  height: 40px;
  background-color: #b550f8;
  position: absolute;
  left: 40px;
  border: 4px solid #ffffff;
}
.yellow {
  width: 40px;
  height: 40px;
  background-color: #f7cc47;
  position: absolute;
  left: 70px;
  border: 4px solid #ffffff;
}

.sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 15px;
}

.side1 {
  width: 62px;
  height: 14px;
}

.side2 {
  width: 51px;
  height: 6px;
}

.manImage-second-parent {
  width: 219px;
  height: 219px;
  background-color: #ef6d58;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 50;
}

.manImage-second {
  width: 160px;
  height: 195px;
  position: absolute;
  left: 32px;
  bottom: 0px;
}

.right-main-container {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-data {
  width: 62px;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  font-family: Epilogue;
  line-height: 32px;
  letter-spacing: 3px;
  color: #ef6d58;
  border: 0px;
}

.experience-heading {
  width: 417px;
  height: 128px;
  font-family: Epilogue;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
}

.heading-data {
  width: 277px;
  height: 32px;
  font-family: Epilogue;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
}

.para-cnt {
  width: 470px;
  height: 98px;
  font-family: Epilogue;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
}

.about-btn {
  width: 138px;
  height: 48px;
  font-family: Epilogue;
  font-weight: 900;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #391400;
  align-self: self-start;
  border-radius: 6px;
  background-color: #ffffff;
  border: none;
}

.percentage {
  width: 100vw;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 370px;
  height: 176px;
  border: 1px solid #f3d1bf;
  padding: 42px;
}

.par42 {
  width: 77px;
  height: 48px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
}
.expe {
  width: 198px;
  height: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
}

.para73 {
  width: 75px;
  height: 48px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
}
.menb {
  width: 170px;
  height: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
}
.para50 {
  width: 110px;
  height: 48px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
}
.pro {
  width: 183px;
  height: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
}

.project-making {
  width: 100vw;
  height: 50vh;
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.left-make-project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.howwework {
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
}

.making {
  width: 448px;
  height: 96px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
}

.technicalskill {
  width: 470px;
  height: 68px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
}
.readmore {
  width: 84px;
  height: 32px;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #391400;
}

.right-make-project {
  display: flex;
  flex-direction: column;
}

.boxcontent1 {
  display: flex;
  gap: 30px;
  align-items: center;
}

.h11 {
  width: 34px;
  height: 80px;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
}

.p11 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}

.border-third {
  width: 1000px;
  height: 1px;
  margin-left: 150px;
  margin-bottom: 70px;
  color: #f3d1bf;
  z-index: 40px;
}

.hr2 {
  width: 1100px;
  height: 1px;
  background-color: #f3d1bf;
  align-self: center;
}

.section-third {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  gap: 200px;
  overflow-x: hidden;
}

.leftBitmap {
  position: relative;
}

.bitImage {
  position: relative;
  left: 120px;
  bottom: 40px;
  margin-top: 100px;
  width: 500px;
  height: 368px;
}

.triangleImage {
  position: absolute;
  top: 37%;
  left: 59%;
}

.headin5 {
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
}

.heading3 {
  width: 469px;
  height: 99px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #391400;
}

.para5 {
  width: 470px;
  height: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
}

.rightBitmap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-four {
  width: 100vw;
  height: 100%;
  background-color: #28293e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.profileHeading {
  width: 104px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  align-self: center;
  text-transform: uppercase;
  color: #ef6d58;
  margin-top: 50px;
}

.latext-work {
  width: 342px;
  height: 64px;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  align-self: center;
  color: #ffffff;
}

.parap-parent {
  display: flex;
  gap: 30px;
  align-self: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.image-content {
  display: flex;
  flex-direction: column;
}

.img-sofa-keyboard {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sofadiv,
.keboarddiv {
  position: relative;
}

.btn11 {
  position: absolute;
  bottom: 70px;
  left: 50px;
  z-index: 30;
  width: 95px;
  height: 38px;
  border-radius: 19px;
  background-color: #ffffff;
  border: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
}

.sofo11 {
  position: absolute;
  bottom: 15px;
  left: 50px;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0px;
  color: #ffffff;
}

.btn12 {
  position: absolute;
  bottom: 70px;
  left: 50px;
  z-index: 30;
  width: 85px;
  height: 38px;
  border-radius: 19px;
  background-color: #ffffff;
  border: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
}

.sofo12 {
  position: absolute;
  bottom: 15px;
  left: 50px;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0px;
  color: #ffffff;
}

.exploremore {
  align-self: center;
  border: 1px solid #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #28293e;
  color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.contaner-with-girl {
  align-self: center;
  width: 1170px;
  height: 336px;
  border-radius: 6px;
  background-color: #fdf0e9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: relative;
  gap: 10px;
}

.getStated {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  left: 50px;
}

.getStarth5 {
  width: 126px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #ef6d58;
}

.getStarth4 {
  width: 248px;
  height: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
}

.getStartbtn {
  font-weight: 900;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 154px;
  height: 48px;
  background-color: #ef6d58;
  border-radius: 5px;
  border: none;
}

.white-container {
  background-color: #ffffff;
  opacity: 96%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  box-shadow: 4px 4px 10px 2px rgba(85, 30, 0, 0.04);
}

.qqq1 {
  width: 338px;
  height: 176px;
  top: 40px;
  left: 400px;
  z-index: 10;
}

.qqq3 {
  width: 306px;
  height: 176px;
  top: 50px;
  left: 420px;
}

.qqq2 {
  width: 274px;
  height: 176px;
  top: 60px;
  left: 440px;
}

.CombinedShape {
  width: 56px;
  height: 93px;
  transform: rotate(10deg);
  position: absolute;
  right: 20px;
  top: 10px;
}

.yellow-second-circle {
  background-color: #f7cc47;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.first-sm {
  width: 75px;
  height: 14px;
  border-radius: 2px;
  position: absolute;
  top: 35%;
  left: 15px;
}

.second-md {
  width: 126px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  top: 45%;
  left: 15px;
}

.third-sm {
  width: 289px;
  height: 6px;
  border-radius: 3px;
  background-color: #f4e4ff;
  position: absolute;
  top: 65%;
  left: 15px;
}

.four-sm {
  width: 113px;
  height: 6px;
  border-radius: 3px;
  background-color: #b550f8;
  position: absolute;
  top: 65%;
  left: 15px;
}

.girlbgPath {
  width: 282px;
  height: 242px;
  color: #e7c4b2;
  position: absolute;
  top: 20px;
  right: 65px;
  z-index: 10;
}

.singleGirlImage1 {
  width: 239px;
  height: 396px;
  position: absolute;
  right: 50px;
  bottom: 0px;
  z-index: 40;
}

.multistarImage {
  position: absolute;
  left: 50px;
  top: -76px;
}

.developers-cont {
  width: 100vw;
  height: 200px;
  display: flex;
  margin-top: 50px;
  position: relative;
  justify-content: space-between;
}

.ourteamteamdevelop {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  left: 60px;
}

.ourteam {
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
}

.teamdevelop {
  width: 531px;
  height: 128px;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #ffffff;
}

.arrow-circle-parent {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 20px;
  right: 60px;
  gap: 10px;
}

.arrow-circle {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #ffffff;
  position: relative;
  background-color: #1c1c2b;
  color: #ffffff;
}

.arrow {
  width: 14px;
  height: 9px;
  position: absolute;
  top: 20px;
  left: 15px;
}

.contanerof-coder {
  width: 270px;
  height: 272px;
  border: 1px solid #3a3c56;
  border-radius: 6px;
  position: relative;
}

.imagehub1 {
  width: 196px;
  height: 247px;
  position: absolute;
  bottom: 0px;
  left: 25px;
}
.imagehub2 {
  width: 259px;
  height: 232px;
  position: absolute;
  bottom: 0px;
  left: 4px;
}
.imagehub3 {
  width: 205px;
  height: 238px;
  position: absolute;
  bottom: 0px;
  left: 32px;
}
.imagehub4 {
  width: 230px;
  height: 233px;
  position: absolute;
  bottom: 0px;
  left: 12px;
}

.aboutcoder {
  margin-top: 5px;
}

.codersImage {
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.codeName {
  font-weight: 700px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #ffffff;
}

.coderProfesion {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: gray;
}

.btncontainer {
  align-self: center;
  margin-bottom: 50px;
}

.btnlast {
  width: 12px;
  height: 12px;
  border: 1px solid #4e4f6e;
  border-radius: 50%;
}

.section-five {
  background-color: #f9e5da;
  width: 100vw;
  height: 200vh;
  position: relative;
}

.pricing-heading {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price-x {
  width: 77px;
  height: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
  position: absolute;
  left: 50px;
  top: 40px;
}

.price-check {
  width: 358px;
  height: 128px;
  font-family: Epilogue;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
  position: absolute;
  left: 50px;
  top: 80px;
}

.card-main-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-container-left {
  width: 391px;
  height: 512px;
  border: 1px solid #f3d1bf;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.card-container-middle {
  width: 391px;
  height: 560px;
  border: 1px solid #f3d1bf;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #ffffff;
  position: absolute;
  bottom: 24px;
}

.card-container-right {
  width: 391px;
  height: 512px;
  border: 1px solid #f3d1bf;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  flex-wrap: wrap;
}

.plusone {
  display: flex;
  gap: 10px;
  margin-left: 25px;
}

.consultent {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
  margin-left: 25px;
  margin-top: 25px;
}

.freethree {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #391400;
  margin-left: 25px;
}

.foneCar {
  width: 295px;
  height: 69px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
  margin-left: 25px;
}

.contusone {
  width: 154px;
  height: 48px;
  border-radius: 6px;
  background-color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-left: 25px;
  border: none;
}

.popular-button {
  width: 92px;
  height: 38px;
  margin-top: 25px;
  margin-left: 25px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: #ffffff;
  background-color: #ef6d58;
  border-radius: 19px;
  font-size: 16px;
  border: none;
}

.md2 {
  background: #ef6d58;
  border: none;
}

.faq-main-container {
  display: flex;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 20px;
  flex-wrap: wrap;
}

.faq-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 50px;
  gap: 15px;
}

.faqh5 {
  width: 34px;
  height: 32px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
}

.frequentlyh3 {
  width: 371px;
  height: 96px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #391400;
}

.digitalpara {
  width: 470px;
  height: 67px;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #391400;
}

.contpara1 {
  width: 88px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
}

/* Remove default disclosure triangle */
details summary {
  list-style: none;
}

/* For some browsers, also remove marker */
details summary::-webkit-details-marker {
  display: none;
}

.faq-container {
  width: 470px;
}

.detailstophead {
  border: 1px solid #f3d1bf;
}

.imoneOne {
  width: 30px;
  height: 30px;
}

.det1 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.det4 {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.summaryoffaq {
  width: 400px;
  height: 80px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailspara {
  margin-left: 10px;
  width: 400px;
  height: 121px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
  margin-left: 20px;
  margin-top: 10px;
}

.section-six {
  width: 100vw;
  height: 719px;
}

.map-image {
  /* position: relative; */
  width: 100vw;
  height: 719px;
  object-fit: cover;
  overflow-x: hidden;
}

.location-indicator {
  position: relative;
  z-index: 40;
  bottom: 370px;
  left: 700px;
}

.mapupcontainer {
  width: 470px;
  height: 464px;
  border-radius: 6px;
  background-color: #ffffff;
  z-index: 30;
  position: absolute;
  left: 135px;
  bottom: -6270px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.getintouchh4 {
  width: 153px;
  height: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.emailContainer {
  width: 374px;
  height: 40px;
  border: 1px solid #f3d1bf;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
  margin-left: 30px;
  padding-left: 16px;
}

.optionselectcontainer {
  width: 374px;
  height: 40px;
  border: 1px solid #f3d1bf;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
  margin-left: 30px;
  padding-left: 16px;
}

.messagecontainer {
  width: 374px;
  height: 90px;
  border: 1px solid #f3d1bf;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
  margin-left: 30px;
  padding-left: 16px;
}

.submitbtncnt {
  width: 154px;
  height: 48px;
  background-color: #ef6d58;
  border-radius: 6px;
  font-weight: 900;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  position: absolute;
  right: 40px;
  bottom: 50px;
}

.footer-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.agency1 {
  font-weight: 700px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
  margin-top: 45px;
}

.menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
}

.ul-lists {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.li-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
}

.main-social-media {
  display: flex;
  margin-top: 50px;
  gap: 10px;
}

.socialmedia-container {
  width: 48px;
  height: 48px;
  background-color: #ef6d58;
  border-radius: 50%;
  position: relative;
}

.socialmediaImage {
  color: #ffffff;
  position: absolute;
  left: 15px;
  top: 15px;
}

.facebook {
  width: 9.33px;
  height: 16px;
  left: 20px;
  top: 15px;
}

.twitter {
  left: 16px;
  top: 18px;
  width: 16px;
  height: 13px;
}

.instagram {
  left: 17px;
  top: 16px;
  width: 16px;
  height: 16px;
}

.border-3 {
  width: 1170px;
  height: 1px;
  background-color: #f3d1bf;
  align-self: center;
  margin-top: 50px;
}

.last-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.last-para {
  font-weight: 400px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
  margin-left: 80px;
}

.term-para {
  display: flex;
  gap: 25px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #391400;
  margin-right: 100px;
}

a,
img,
svg:hover {
  cursor: pointer;
}
